In [1]:
# Importing required libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.ticker import MaxNLocator

from scipy import interp
import math
from scipy.stats import norm
from scipy import stats

import warnings
warnings.filterwarnings('ignore') # Disabling warnings for clear outputs

pd.options.display.max_columns = 50 # Pandas option to increase max number of columns to display

plt.style.use('ggplot') # Setting default plot style

In [25]:
# Importing the datasets

train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

idx = len(train)

In [26]:
display(train.sample(3))
display(test.sample(3))

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
820,821,1,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,52.0,1,1,12749,93.5000,B69,S
156,157,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16.0,0,0,35851,7.7333,NaN,Q

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.05,NaN,S
117,1009,3,"Sandstrom, Miss. Beatrice Irene",female,1.0,1,1,PP 9549,16.70,G6,S
158,1050,1,"Borebank, Mr. John James",male,42.0,0,0,110489,26.55,D22,S

In [27]:
# Merging the dataset

train.drop('PassengerId', axis = 1, inplace = True)
test.drop('PassengerId', axis = 1, inplace = True)
merged_data = pd.concat([train,test], sort = False).reset_index(drop = True)

In [28]:
# viewing the shape of merged data
display(merged_data.shape)

(1309, 11)

In [33]:
# Viewing the feature and target columns 
display(merged_data.columns)

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [35]:
# checking the dtypes
display(merged_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    float64
 1   Pclass    1309 non-null   int64
 2   Name      1309 non-null   object
 3   Sex       1309 non-null   object
 4   Age       1046 non-null   float64
 5   SibSp     1309 non-null   int64
 6   Parch     1309 non-null   int64
 7   Ticket    1309 non-null   object
 8   Fare      1308 non-null   float64
 9   Cabin     295 non-null    object
 10  Embarked  1307 non-null   object
dtypes: float64(3), int64(3), object(5)
memory usage: 112.6+ KB

None

## Exploring the Data

#### Categorical Features

* **Survived**: It is the target variable, which represents whether the people survived or not.

In [137]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,NaN,Q

In [147]:
data.corr()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
PassengerId,1.000000,-0.005007,-0.035144,0.042939,0.033207,-0.057527,-0.001652,0.012658,0.012985
Survived,-0.005007,1.000000,-0.338481,-0.543351,-0.069809,-0.035322,0.081629,0.257307,-0.176509
Pclass,-0.035144,-0.338481,1.000000,0.131900,-0.331339,0.083081,0.018443,-0.549500,0.173511
Sex,0.042939,-0.543351,0.131900,1.000000,0.084153,-0.114631,-0.245489,-0.182333,0.118492
Age,0.033207,-0.069809,-0.331339,0.084153,1.000000,-0.232625,-0.179191,0.091566,-0.039610
SibSp,-0.057527,-0.035322,0.083081,-0.114631,-0.232625,1.000000,0.414838,0.159651,0.071480
Parch,-0.001652,0.081629,0.018443,-0.245489,-0.179191,0.414838,1.000000,0.216225,0.043351
Fare,0.012658,0.257307,-0.549500,-0.182333,0.091566,0.159651,0.216225,1.000000,-0.230365
Embarked,0.012985,-0.176509,0.173511,0.118492,-0.039610,0.071480,0.043351,-0.230365,1.000000

In [141]:
data['Embarked'] = data['Embarked'].fillna('0')
data['Embarked'].isnull().any()
data['Embarked'].value_counts()

S    644
C    168
Q     77
0      2
Name: Embarked, dtype: int64

In [143]:
type(data['Embarked'])
data['Embarked']= lbl_en.fit_transform(data['Embarked'])

In [144]:
va = data['Age'].mean()
va

29.69911764705882

In [145]:
data['Age'] = data['Age'].fillna(va)

In [146]:
data['Fare'].isnull().any()
X['Age'].isnull().any()

False

In [539]:
X=data[['Sex','Pclass','Fare','Age']]
y=data['Survived']

In [540]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import ShuffleSplit

In [541]:
cv = ShuffleSplit(n_splits = 10, test_size = 0.1, random_state=42)

In [542]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression(max_iter = 1000)
LR.fit(X,y)
scores = cross_val_score(LR,X,y, cv = cv)

In [556]:
from sklearn.svm import SVC
svc = SVC(kernel="sigmoid")
svc.fit(X,y)
scores_1 = cross_val_score(svc,X,y, cv = cv)

In [562]:
from sklearn.neighbors import KNeighborsClassifier
knc = KNeighborsClassifier(n_neighbors=3, weights = "distance")
knc.fit(X,y)
scores_2 = cross_val_score(knc,X,y,cv=cv)

In [550]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(criterion="entropy",splitter = "random")
dtc.fit(X,y)
scores_3 = cross_val_score(dtc,X,y, cv = cv)

In [546]:
print("LR Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

LR Accuracy: 0.81 (+/- 0.05)

In [547]:
print("SVM Accuracy: %0.2f (+/- %0.2f)"%(scores_1.mean(),scores_1.std()*2))

SVM Accuracy: 0.58 (+/- 0.12)

In [548]:
print("KNN Accuracy: %0.2f (+/- %0.2f)"%(scores_3.mean(),scores_3.std()*2))

KNN Accuracy: 0.80 (+/- 0.07)

In [549]:
print("DTC Accuracy: %0.2f (+/- %0.2f)"%(scores_3.mean(),scores_3.std()*2))

DTC Accuracy: 0.80 (+/- 0.07)

In [495]:
test = pd.read_csv("test.csv")

In [496]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [497]:
test['Sex'] = lbl_en.fit_transform(test['Sex'])

In [499]:
test['Embarked'] = lbl_en.fit_transform(test['Embarked'])

In [513]:
m = test['Fare'].mean()
test['Fare']=test['Fare'].fillna(m)
a = test['Age'].mean()
test['Age']=test['Age'].fillna(a)

In [528]:
test_X=  test[['Sex','Pclass','Fare','Age']]

In [529]:
test_X.isnull().any()

Sex       False
Pclass    False
Fare      False
Age       False
dtype: bool

In [563]:
test_pred = knc.predict(test_X)

In [564]:
test_pred

array([0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1],
      dtype=int64)

In [565]:
final_output = pd.DataFrame({'PassengerId':test['PassengerId'],'Survived':test_pred})

In [566]:
final_output = final_output.set_index('PassengerId')

In [567]:
final_output.to_csv("Submission.csv")

In [569]:
!pip install pycaret

Collecting pycaret
  Downloading pycaret-1.0.0-py3-none-any.whl (188 kB)
Collecting shap==0.32.1
  Downloading shap-0.32.1-cp37-cp37m-win_amd64.whl (292 kB)
Collecting scikit-learn==0.22
  Downloading scikit_learn-0.22-cp37-cp37m-win_amd64.whl (6.2 MB)
Requirement already satisfied: pandas in e:\anaconda-navigator\lib\site-packages (from pycaret) (1.0.3)
Collecting kmodes==0.10.1
  Downloading kmodes-0.10.1-py2.py3-none-any.whl (17 kB)
Collecting lightgbm==2.3.1
  Downloading lightgbm-2.3.1-py2.py3-none-win_amd64.whl (544 kB)
Collecting catboost==0.20.2
  Downloading catboost-0.20.2-cp37-none-win_amd64.whl (63.1 MB)
Requirement already satisfied: ipywidgets in e:\anaconda-navigator\lib\site-packages (from pycaret) (7.5.1)
Collecting wordcloud
  Downloading wordcloud-1.7.0-cp37-cp37m-win_amd64.whl (157 kB)
Collecting pyod
  Downloading pyod-0.8.0.tar.gz (93 kB)
Requirement already satisfied: nltk in e:\anaconda-navigator\lib\site-packages (from pycaret) (3.4.5)
Collecting pyLDAvis
  Downloading pyLDAvis-2.1.2.tar.gz (1.6 MB)
Collecting pandas-profiling==2.3.0
  Downloading pandas-profiling-2.3.0.tar.gz (127 kB)
Requirement already satisfied: IPython in e:\anaconda-navigator\lib\site-packages (from pycaret) (7.13.0)
Requirement already satisfied: joblib in e:\anaconda-navigator\lib\site-packages (from pycaret) (0.14.1)
Collecting mlxtend
  Downloading mlxtend-0.17.2-py2.py3-none-any.whl (1.3 MB)
Collecting cufflinks==0.17.0
  Downloading cufflinks-0.17.0.tar.gz (81 kB)
Collecting awscli
  Downloading awscli-1.18.87-py2.py3-none-any.whl (3.2 MB)
Collecting spacy
  Downloading spacy-2.3.0-cp37-cp37m-win_amd64.whl (9.4 MB)
Requirement already satisfied: matplotlib in e:\anaconda-navigator\lib\site-packages (from pycaret) (3.1.3)
Requirement already satisfied: seaborn in e:\anaconda-navigator\lib\site-packages (from pycaret) (0.10.0)
Requirement already satisfied: numpy in e:\anaconda-navigator\lib\site-packages (from pycaret) (1.18.1)
Collecting gensim
  Downloading gensim-3.8.3-cp37-cp37m-win_amd64.whl (24.2 MB)
Collecting xgboost==0.90
  Downloading xgboost-0.90-py2.py3-none-win_amd64.whl (18.3 MB)
Collecting yellowbrick==1.0.1
  Downloading yellowbrick-1.0.1-py3-none-any.whl (378 kB)
Collecting textblob
  Downloading textblob-0.15.3-py2.py3-none-any.whl (636 kB)
Collecting umap-learn
  Downloading umap-learn-0.4.4.tar.gz (69 kB)
Collecting datetime
  Downloading DateTime-4.3-py2.py3-none-any.whl (60 kB)
Collecting plotly==4.4.1
  Downloading plotly-4.4.1-py2.py3-none-any.whl (7.3 MB)
Collecting datefinder==0.7.0
  Downloading datefinder-0.7.0-py2.py3-none-any.whl (8.8 kB)
Requirement already satisfied: scipy in e:\anaconda-navigator\lib\site-packages (from shap==0.32.1->pycaret) (1.4.1)
Requirement already satisfied: tqdm>4.25.0 in e:\anaconda-navigator\lib\site-packages (from shap==0.32.1->pycaret) (4.45.0)
Requirement already satisfied: python-dateutil>=2.6.1 in e:\anaconda-navigator\lib\site-packages (from pandas->pycaret) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in e:\anaconda-navigator\lib\site-packages (from pandas->pycaret) (2019.3)
Collecting graphviz
  Downloading graphviz-0.14-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: six in e:\anaconda-navigator\lib\site-packages (from catboost==0.20.2->pycaret) (1.14.0)
Requirement already satisfied: nbformat>=4.2.0 in e:\anaconda-navigator\lib\site-packages (from ipywidgets->pycaret) (5.0.4)
Requirement already satisfied: traitlets>=4.3.1 in e:\anaconda-navigator\lib\site-packages (from ipywidgets->pycaret) (4.3.3)
Requirement already satisfied: widgetsnbextension~=3.5.0 in e:\anaconda-navigator\lib\site-packages (from ipywidgets->pycaret) (3.5.1)
Requirement already satisfied: ipykernel>=4.5.1 in e:\anaconda-navigator\lib\site-packages (from ipywidgets->pycaret) (5.1.4)
Requirement already satisfied: pillow in e:\anaconda-navigator\lib\site-packages (from wordcloud->pycaret) (7.0.0)
Collecting combo
  Downloading combo-0.1.0.tar.gz (37 kB)
Requirement already satisfied: numba>=0.35 in e:\anaconda-navigator\lib\site-packages (from pyod->pycaret) (0.49.0)
Collecting suod
  Downloading suod-0.0.4.tar.gz (2.1 MB)
Requirement already satisfied: wheel>=0.23.0 in e:\anaconda-navigator\lib\site-packages (from pyLDAvis->pycaret) (0.34.2)
Requirement already satisfied: jinja2>=2.7.2 in e:\anaconda-navigator\lib\site-packages (from pyLDAvis->pycaret) (2.11.1)
Requirement already satisfied: numexpr in e:\anaconda-navigator\lib\site-packages (from pyLDAvis->pycaret) (2.7.1)
Requirement already satisfied: pytest in e:\anaconda-navigator\lib\site-packages (from pyLDAvis->pycaret) (5.4.1)
Requirement already satisfied: future in e:\anaconda-navigator\lib\site-packages (from pyLDAvis->pycaret) (0.18.2)
Collecting funcy
  Downloading funcy-1.14.tar.gz (548 kB)
Collecting missingno>=0.4.2
  Downloading missingno-0.4.2-py3-none-any.whl (9.7 kB)
Collecting htmlmin>=0.1.12
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
Collecting phik>=0.9.8
  Downloading phik-0.10.0-py3-none-any.whl (599 kB)
Collecting confuse>=1.0.0
  Downloading confuse-1.1.0.tar.gz (32 kB)
Requirement already satisfied: astropy in e:\anaconda-navigator\lib\site-packages (from pandas-profiling==2.3.0->pycaret) (4.0)
Requirement already satisfied: backcall in e:\anaconda-navigator\lib\site-packages (from IPython->pycaret) (0.1.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in e:\anaconda-navigator\lib\site-packages (from IPython->pycaret) (3.0.4)
Requirement already satisfied: decorator in e:\anaconda-navigator\lib\site-packages (from IPython->pycaret) (4.4.2)
Requirement already satisfied: colorama; sys_platform == "win32" in e:\anaconda-navigator\lib\site-packages (from IPython->pycaret) (0.4.3)
Requirement already satisfied: jedi>=0.10 in e:\anaconda-navigator\lib\site-packages (from IPython->pycaret) (0.15.2)
Requirement already satisfied: pickleshare in e:\anaconda-navigator\lib\site-packages (from IPython->pycaret) (0.7.5)
Requirement already satisfied: pygments in e:\anaconda-navigator\lib\site-packages (from IPython->pycaret) (2.6.1)
Requirement already satisfied: setuptools>=18.5 in e:\anaconda-navigator\lib\site-packages (from IPython->pycaret) (46.1.3.post20200330)
Collecting chart-studio>=1.0.0
  Downloading chart_studio-1.1.0-py3-none-any.whl (64 kB)
Collecting colorlover>=0.2.1
  Downloading colorlover-0.3.0-py3-none-any.whl (8.9 kB)
Collecting s3transfer<0.4.0,>=0.3.0
  Downloading s3transfer-0.3.3-py2.py3-none-any.whl (69 kB)
Collecting rsa<=3.5.0,>=3.1.2
  Downloading rsa-3.4.2-py2.py3-none-any.whl (46 kB)
Collecting docutils<0.16,>=0.10
  Downloading docutils-0.15.2-py3-none-any.whl (547 kB)
Collecting botocore==1.17.10
  Downloading botocore-1.17.10-py2.py3-none-any.whl (6.3 MB)
Requirement already satisfied: PyYAML<5.4,>=3.10; python_version != "3.4" in e:\anaconda-navigator\lib\site-packages (from awscli->pycaret) (5.3.1)
Collecting cymem<2.1.0,>=2.0.2
  Downloading cymem-2.0.3-cp37-cp37m-win_amd64.whl (32 kB)
Collecting srsly<1.1.0,>=1.0.2
  Downloading srsly-1.0.2-cp37-cp37m-win_amd64.whl (179 kB)
Collecting wasabi<1.1.0,>=0.4.0
  Downloading wasabi-0.7.0.tar.gz (22 kB)
Collecting preshed<3.1.0,>=3.0.2
  Downloading preshed-3.0.2-cp37-cp37m-win_amd64.whl (105 kB)
Collecting thinc==7.4.1
  Downloading thinc-7.4.1-cp37-cp37m-win_amd64.whl (2.0 MB)
Collecting blis<0.5.0,>=0.4.0
  Downloading blis-0.4.1-cp37-cp37m-win_amd64.whl (5.0 MB)
Collecting plac<1.2.0,>=0.9.6
  Downloading plac-1.1.3-py2.py3-none-any.whl (20 kB)

ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'e:\\anaconda-navigator\\lib\\site-packages\\~klearn\\decomposition\\_cdnmf_fast.cp37-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

Collecting catalogue<1.1.0,>=0.0.7
  Downloading catalogue-1.0.0-py2.py3-none-any.whl (7.7 kB)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in e:\anaconda-navigator\lib\site-packages (from spacy->pycaret) (2.23.0)
Collecting murmurhash<1.1.0,>=0.28.0
  Downloading murmurhash-1.0.2-cp37-cp37m-win_amd64.whl (20 kB)
Requirement already satisfied: kiwisolver>=1.0.1 in e:\anaconda-navigator\lib\site-packages (from matplotlib->pycaret) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in e:\anaconda-navigator\lib\site-packages (from matplotlib->pycaret) (2.4.6)
Requirement already satisfied: cycler>=0.10 in e:\anaconda-navigator\lib\site-packages (from matplotlib->pycaret) (0.10.0)
Collecting smart-open>=1.8.1
  Downloading smart_open-2.0.0.tar.gz (103 kB)
Collecting Cython==0.29.14
  Downloading Cython-0.29.14-cp37-cp37m-win_amd64.whl (1.7 MB)
Collecting tbb
  Downloading tbb-2019.0-py3-none-win_amd64.whl (194 kB)
Collecting zope.interface
  Downloading zope.interface-5.1.0-cp37-cp37m-win_amd64.whl (194 kB)
Collecting retrying>=1.3.3
  Downloading retrying-1.3.3.tar.gz (10 kB)
Collecting regex>=2017.02.08
  Downloading regex-2020.6.8-cp37-cp37m-win_amd64.whl (268 kB)
Requirement already satisfied: ipython-genutils in e:\anaconda-navigator\lib\site-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (0.2.0)
Requirement already satisfied: jupyter-core in e:\anaconda-navigator\lib\site-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (4.6.3)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in e:\anaconda-navigator\lib\site-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (3.2.0)
Requirement already satisfied: notebook>=4.4.1 in e:\anaconda-navigator\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets->pycaret) (6.0.3)
Requirement already satisfied: tornado>=4.2 in e:\anaconda-navigator\lib\site-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (6.0.4)
Requirement already satisfied: jupyter-client in e:\anaconda-navigator\lib\site-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (6.1.2)
Requirement already satisfied: llvmlite<=0.33.0.dev0,>=0.31.0.dev0 in e:\anaconda-navigator\lib\site-packages (from numba>=0.35->pyod->pycaret) (0.32.0)
Requirement already satisfied: MarkupSafe>=0.23 in e:\anaconda-navigator\lib\site-packages (from jinja2>=2.7.2->pyLDAvis->pycaret) (1.1.1)
Requirement already satisfied: py>=1.5.0 in e:\anaconda-navigator\lib\site-packages (from pytest->pyLDAvis->pycaret) (1.8.1)
Requirement already satisfied: packaging in e:\anaconda-navigator\lib\site-packages (from pytest->pyLDAvis->pycaret) (20.3)
Requirement already satisfied: attrs>=17.4.0 in e:\anaconda-navigator\lib\site-packages (from pytest->pyLDAvis->pycaret) (19.3.0)
Requirement already satisfied: more-itertools>=4.0.0 in e:\anaconda-navigator\lib\site-packages (from pytest->pyLDAvis->pycaret) (8.2.0)
Requirement already satisfied: pluggy<1.0,>=0.12 in e:\anaconda-navigator\lib\site-packages (from pytest->pyLDAvis->pycaret) (0.13.1)
Requirement already satisfied: wcwidth in e:\anaconda-navigator\lib\site-packages (from pytest->pyLDAvis->pycaret) (0.1.9)
Requirement already satisfied: importlib-metadata>=0.12 in e:\anaconda-navigator\lib\site-packages (from pytest->pyLDAvis->pycaret) (1.5.0)
Requirement already satisfied: atomicwrites>=1.0 in e:\anaconda-navigator\lib\site-packages (from pytest->pyLDAvis->pycaret) (1.3.0)
Requirement already satisfied: parso>=0.5.2 in e:\anaconda-navigator\lib\site-packages (from jedi>=0.10->IPython->pycaret) (0.5.2)
Requirement already satisfied: pyasn1>=0.1.3 in e:\anaconda-navigator\lib\site-packages (from rsa<=3.5.0,>=3.1.2->awscli->pycaret) (0.4.8)
Requirement already satisfied: urllib3<1.26,>=1.20; python_version != "3.4" in e:\anaconda-navigator\lib\site-packages (from botocore==1.17.10->awscli->pycaret) (1.25.8)
Collecting jmespath<1.0.0,>=0.7.1
  Downloading jmespath-0.10.0-py2.py3-none-any.whl (24 kB)
Requirement already satisfied: certifi>=2017.4.17 in e:\anaconda-navigator\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy->pycaret) (2020.4.5.1)
Requirement already satisfied: idna<3,>=2.5 in e:\anaconda-navigator\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy->pycaret) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in e:\anaconda-navigator\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy->pycaret) (3.0.4)
Requirement already satisfied: boto in e:\anaconda-navigator\lib\site-packages (from smart-open>=1.8.1->gensim->pycaret) (2.49.0)
Collecting boto3
  Downloading boto3-1.14.10-py2.py3-none-any.whl (128 kB)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in e:\anaconda-navigator\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets->pycaret) (227)
Requirement already satisfied: pyrsistent>=0.14.0 in e:\anaconda-navigator\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->pycaret) (0.16.0)
Requirement already satisfied: Send2Trash in e:\anaconda-navigator\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.5.0)
Requirement already satisfied: terminado>=0.8.1 in e:\anaconda-navigator\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.8.3)
Requirement already satisfied: nbconvert in e:\anaconda-navigator\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (5.6.1)
Requirement already satisfied: prometheus-client in e:\anaconda-navigator\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.7.1)
Requirement already satisfied: pyzmq>=17 in e:\anaconda-navigator\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (18.1.1)
Requirement already satisfied: zipp>=0.5 in e:\anaconda-navigator\lib\site-packages (from importlib-metadata>=0.12->pytest->pyLDAvis->pycaret) (2.2.0)
Requirement already satisfied: mistune<2,>=0.8.1 in e:\anaconda-navigator\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.8.4)
Requirement already satisfied: testpath in e:\anaconda-navigator\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.4.4)
Requirement already satisfied: pandocfilters>=1.4.1 in e:\anaconda-navigator\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.4.2)
Requirement already satisfied: defusedxml in e:\anaconda-navigator\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.6.0)
Requirement already satisfied: entrypoints>=0.2.2 in e:\anaconda-navigator\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.3)
Requirement already satisfied: bleach in e:\anaconda-navigator\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (3.1.0)
Requirement already satisfied: webencodings in e:\anaconda-navigator\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.5.1)
Building wheels for collected packages: pyod, pyLDAvis, pandas-profiling, cufflinks, umap-learn, combo, suod, funcy, htmlmin, confuse, wasabi, smart-open, retrying
  Building wheel for pyod (setup.py): started
  Building wheel for pyod (setup.py): finished with status 'done'
  Created wheel for pyod: filename=pyod-0.8.0-py3-none-any.whl size=105568 sha256=b6e49659e719ed8c85cb9312aba52c986b72b5e388e24fd1960a256cd2b14a7f
  Stored in directory: c:\users\rajpu\appdata\local\pip\cache\wheels\56\fe\c9\8bef0f10fadc1f1601664fc32181f3f3c5e37c1610c26bc4f9
  Building wheel for pyLDAvis (setup.py): started
  Building wheel for pyLDAvis (setup.py): finished with status 'done'
  Created wheel for pyLDAvis: filename=pyLDAvis-2.1.2-py2.py3-none-any.whl size=97716 sha256=aec23fafae92595b03bc8c626764bc2d9ad1d1fec968c2eef5712e9ac6b4bf99
  Stored in directory: c:\users\rajpu\appdata\local\pip\cache\wheels\3b\fb\41\e32e5312da9f440d34c4eff0d2207b46dc9332a7b931ef1e89
  Building wheel for pandas-profiling (setup.py): started
  Building wheel for pandas-profiling (setup.py): finished with status 'done'
  Created wheel for pandas-profiling: filename=pandas_profiling-2.3.0-py2.py3-none-any.whl size=145046 sha256=cc16b387176c02a011755aab216d0dfdf05c14800689b4ce702a871d3c119aef
  Stored in directory: c:\users\rajpu\appdata\local\pip\cache\wheels\4a\c5\ea\9a3c4215fb7fbbc908a9d3646c4bd74b2960639b6883de5529
  Building wheel for cufflinks (setup.py): started
  Building wheel for cufflinks (setup.py): finished with status 'done'
  Created wheel for cufflinks: filename=cufflinks-0.17.0-py3-none-any.whl size=68550 sha256=338ad84232589aad3db88f1a403ff7cd577b821723ca9b67852211d4c7bf9761
  Stored in directory: c:\users\rajpu\appdata\local\pip\cache\wheels\16\22\f8\084326defc3fe232aacf4a4c855c58de34b62f35387acc1eda
  Building wheel for umap-learn (setup.py): started
  Building wheel for umap-learn (setup.py): finished with status 'done'
  Created wheel for umap-learn: filename=umap_learn-0.4.4-py3-none-any.whl size=67905 sha256=898e6c00a89c2bb01eb077dd6f73e392df4cced487a332806c7eeaefb3d0adf1
  Stored in directory: c:\users\rajpu\appdata\local\pip\cache\wheels\8a\8d\5d\dcc79f4eaaa35ea3ce3bd73bbab686a1a048673d6775af9a8c
  Building wheel for combo (setup.py): started
  Building wheel for combo (setup.py): finished with status 'done'
  Created wheel for combo: filename=combo-0.1.0-py3-none-any.whl size=42049 sha256=20ce460f3c268e11b6af2dc9968572a2f97a9f4a0a8ea859ee2c35d6df52a432
  Stored in directory: c:\users\rajpu\appdata\local\pip\cache\wheels\24\eb\02\73968b2bdaf3e75712f742d915e72678c7118dc0c14af9f18b
  Building wheel for suod (setup.py): started
  Building wheel for suod (setup.py): finished with status 'done'
  Created wheel for suod: filename=suod-0.0.4-py3-none-any.whl size=2167162 sha256=d483b321bdef0a2c2aafda9df0f1fbf5015769170143ac834defa04cddd2c366
  Stored in directory: c:\users\rajpu\appdata\local\pip\cache\wheels\dc\ae\aa\3b8cc857617f3ba6cb9e6b804c79c69d0ed60a08e022e9a4f3
  Building wheel for funcy (setup.py): started
  Building wheel for funcy (setup.py): finished with status 'done'
  Created wheel for funcy: filename=funcy-1.14-py2.py3-none-any.whl size=32045 sha256=6a5adeda98388ec0b40e4a9f0100db3b3d264b42d919844e80b28885c33cc144
  Stored in directory: c:\users\rajpu\appdata\local\pip\cache\wheels\3c\33\97\805b282e129f60bb4e87cea622338f30b65f21eaf65219971f
  Building wheel for htmlmin (setup.py): started
  Building wheel for htmlmin (setup.py): finished with status 'done'
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27090 sha256=c764fcb1c946187bdd363c569fe4e5d3e7bfc5160c055a89df1637818d8b2ea4
  Stored in directory: c:\users\rajpu\appdata\local\pip\cache\wheels\70\e1\52\5b14d250ba868768823940c3229e9950d201a26d0bd3ee8655
  Building wheel for confuse (setup.py): started
  Building wheel for confuse (setup.py): finished with status 'done'
  Created wheel for confuse: filename=confuse-1.1.0-py3-none-any.whl size=17577 sha256=ff952b6a26ecc8fb75972009496f8729e0e09dd41acaf40991e2737fcd4de021
  Stored in directory: c:\users\rajpu\appdata\local\pip\cache\wheels\18\e0\b3\79594ba4a96afaf41d39916ed83ce7d5ec031874c66a76eabb
  Building wheel for wasabi (setup.py): started
  Building wheel for wasabi (setup.py): finished with status 'done'
  Created wheel for wasabi: filename=wasabi-0.7.0-py3-none-any.whl size=20838 sha256=7e0b7dfad1f8090db7d6a5eb841b65e70563999c7c7f0eec953e3bcaed9ae89c
  Stored in directory: c:\users\rajpu\appdata\local\pip\cache\wheels\68\38\40\b82a00fbe88220b7fd467c29a0018357066e14466151189e5a
  Building wheel for smart-open (setup.py): started
  Building wheel for smart-open (setup.py): finished with status 'done'
  Created wheel for smart-open: filename=smart_open-2.0.0-py3-none-any.whl size=101346 sha256=d2de026684bedc21257f968ebcea7e0356e2ab072125b37a1635372d3b68607e
  Stored in directory: c:\users\rajpu\appdata\local\pip\cache\wheels\bb\1c\9c\412ec03f6d5ac7d41f4b965bde3fc0d1bd201da5ba3e2636de
  Building wheel for retrying (setup.py): started
  Building wheel for retrying (setup.py): finished with status 'done'
  Created wheel for retrying: filename=retrying-1.3.3-py3-none-any.whl size=11435 sha256=5871342931c3c7281cfe8af8512818d6d130d23ccbed6110bf260f95766cabfd
  Stored in directory: c:\users\rajpu\appdata\local\pip\cache\wheels\f9\8d\8d\f6af3f7f9eea3553bc2fe6d53e4b287dad18b06a861ac56ddf
Successfully built pyod pyLDAvis pandas-profiling cufflinks umap-learn combo suod funcy htmlmin confuse wasabi smart-open retrying
Installing collected packages: scikit-learn, shap, kmodes, lightgbm, graphviz, retrying, plotly, catboost, wordcloud, combo, suod, pyod, funcy, pyLDAvis, missingno, htmlmin, phik, confuse, pandas-profiling, mlxtend, chart-studio, colorlover, cufflinks, jmespath, docutils, botocore, s3transfer, rsa, awscli, cymem, srsly, wasabi, murmurhash, preshed, blis, plac, catalogue, thinc, spacy, boto3, smart-open, Cython, gensim, xgboost, yellowbrick, textblob, tbb, umap-learn, zope.interface, datetime, regex, datefinder, pycaret
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 0.22.1
    Uninstalling scikit-learn-0.22.1:
      Successfully uninstalled scikit-learn-0.22.1