In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("train.csv")

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [6]:
data['Pclass']=data['Pclass'].astype("object")
data['SibSp']=data['SibSp'].astype("object")
data['Parch']=data['Parch'].astype("object")
data['Fare'] = np.log(data['Fare'])
data['Age'] = np.log(data['Age'])
data.dtypes

E:\Anaconda-Navigator\lib\site-packages\pandas\core\series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

PassengerId      int64
Survived         int64
Pclass          object
Name            object
Sex             object
Age            float64
SibSp           object
Parch           object
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [7]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,3.091042,1,0,A/5 21171,1.981001,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,3.637586,1,0,PC 17599,4.266662,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,3.258097,0,0,STON/O2. 3101282,2.070022,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,3.555348,1,0,113803,3.972177,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,3.555348,0,0,373450,2.085672,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,3.295837,0,0,211536,2.564949,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,2.944439,0,0,112053,3.401197,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,3.154870,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,3.258097,0,0,111369,3.401197,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,3.465736,0,0,370376,2.047693,NaN,Q

In [8]:
data['Fare'] = np.log(data['Fare'])
data['Age'] = np.log(data['Age'])

E:\Anaconda-Navigator\lib\site-packages\pandas\core\series.py:679: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
E:\Anaconda-Navigator\lib\site-packages\pandas\core\series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [9]:
data['Cabin'].value_counts()

B96 B98        4
G6             4
C23 C25 C27    4
F2             3
F33            3
              ..
B3             1
A26            1
C82            1
C32            1
B94            1
Name: Cabin, Length: 147, dtype: int64

In [10]:
data.corr()

             PassengerId  Survived       Age      Fare
PassengerId     1.000000 -0.005007  0.062639  0.003526
Survived       -0.005007  1.000000 -0.060240  0.328132
Age             0.062639 -0.060240  1.000000 -0.002752
Fare            0.003526  0.328132 -0.002752  1.000000

In [11]:
X=data[['Sex','Pclass','Fare','Age','Survived']]
y=data['Survived']

In [12]:
data_test = pd.read_csv("test.csv")
data_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [13]:
data_test['Pclass']=data_test['Pclass'].astype("object")
data_test['SibSp']=data_test['SibSp'].astype("object")
data_test['Parch']=data_test['Parch'].astype("object")
data_test['Fare'] = np.log(data_test['Fare'])
data_test['Age'] = np.log(data_test['Age'])
data_test.dtypes

E:\Anaconda-Navigator\lib\site-packages\pandas\core\series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

PassengerId      int64
Pclass          object
Name            object
Sex             object
Age            float64
SibSp           object
Parch           object
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [14]:
# Importing the classification module from pycaret
from pycaret import classification

In [15]:
# Setting up the environment
cls_setup = classification.setup(data = data, target="Survived")

Setup Succesfully Completed!

In [16]:
# comparing various classification models
classification.compare_models()

As we can see the ridge classifier has the highest accuracy. Therefore, performing predictions on Ridge classifier after tuning its hyperparameters.

In [17]:
rc_clf = classification.create_model("ridge")

      Accuracy  AUC  Recall   Prec.      F1   Kappa
0       0.8254  0.0  0.7500  0.7826  0.7660  0.6268
1       0.8413  0.0  0.7083  0.8500  0.7727  0.6523
2       0.8095  0.0  0.7083  0.7727  0.7391  0.5896
3       0.8387  0.0  0.6957  0.8421  0.7619  0.6416
4       0.8226  0.0  0.7917  0.7600  0.7755  0.6289
5       0.8548  0.0  0.7500  0.8571  0.8000  0.6869
6       0.7581  0.0  0.6250  0.7143  0.6667  0.4781
7       0.8387  0.0  0.7083  0.8500  0.7727  0.6493
8       0.8387  0.0  0.6667  0.8889  0.7619  0.6437
9       0.8871  0.0  0.7917  0.9048  0.8444  0.7565
Mean    0.8315  0.0  0.7196  0.8223  0.7661  0.6354
SD      0.0314  0.0  0.0499  0.0583  0.0426  0.0670

In [18]:
tuned_clf = classification.tune_model("ridge")

      Accuracy  AUC  Recall   Prec.      F1   Kappa
0       0.8254  0.0  0.7500  0.7826  0.7660  0.6268
1       0.8413  0.0  0.7083  0.8500  0.7727  0.6523
2       0.8254  0.0  0.7500  0.7826  0.7660  0.6268
3       0.8387  0.0  0.6957  0.8421  0.7619  0.6416
4       0.8226  0.0  0.7917  0.7600  0.7755  0.6289
5       0.8548  0.0  0.7917  0.8261  0.8085  0.6917
6       0.7581  0.0  0.6667  0.6957  0.6809  0.4862
7       0.8387  0.0  0.7083  0.8500  0.7727  0.6493
8       0.8226  0.0  0.6667  0.8421  0.7442  0.6112
9       0.8871  0.0  0.7917  0.9048  0.8444  0.7565
Mean    0.8315  0.0  0.7321  0.8136  0.7693  0.6371
SD      0.0308  0.0  0.0472  0.0561  0.0397  0.0643